.a-container {
  --AContainer-color: #000000;
  --AContainer-padding: 64px 128px;
  background: var(--A-background);
  color: var(--AContainer-color);
  padding: var(--AContainer-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
