.a-container {
  --AContainer-color: var(--A-color);
  --AContainer-padding: 4rem 8rem;
  --AContainer-background: none;
  background: var(--AContainer-background);
  color: var(--AContainer-color);
  padding: var(--AContainer-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  @media only screen and (max-width: 600px) {
    --AContainer-padding: 1rem 2rem;
  }
}
