.a-form {
  --AForm-background: none;
  --AForm-color: var(--A-color);
  background: var(--AForm-background);
  color: var(--AForm-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
