.a-section {
  --ASection-padding: 0rem;
  --ASection-background: none;
  --ASection-color: var(--A-color);
  background: var(--ASection-background);
  color: var(--ASection-color);
  padding: var(--ASection-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
