.a-grid {
  --AGrid-background: none;
  --AGrid-color: var(--A-color);
  background: var(--AGrid-background);
  color: var(--AGrid-color);
  display: grid;
  width: 100%;
  grid-gap: 1rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(256px, 1fr));
}
