.a-box {
  --ABox-padding: 0rem;
  background: var(--A-background);
  color: var(--A-color);
  padding: var(--ABox-padding);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
