.a-row {
  --ARow-padding: 0.5rem;
  --ARow-background: none;
  --ARow-color: var(--A-color);
  background: var(--ARow-background);
  color: var(--ARow-color);
  padding: var(--ARow-padding);
  display: flex;
  @media only screen and (max-width: 600px) {
    flex-direction: column;
  }
}
