.a-col {
  --ACol-color: var(--A-color);
  --ACol-padding: 0.5rem;
  --ACol-background: none;
  background: var(--ACol-background);
  color: var(--ACol-color);
  padding: var(--ACol-padding);
  display: flex;
  flex-direction: column;
  margin: 0;
}
